<div class="view-wrapper">
    <div class="sidebar">
        <div class="sidebar-menu font-white">
            <div class="sidebar-item" ng-click="currentProjects('projects')">
                <i class="material-icons icon-large">folder_open</i>
                <p>All Projects</p>
            </div>
            <div class="sidebar-item" ng-click="currentProjects('recent')">
                <i class="material-icons icon-large">access_time</i>
                <p>Recent</p>
            </div>
            <div class="sidebar-item" ng-click="currentProjects('favProjects')">
                <i class="material-icons icon-large">star</i>
                <p>Starred</p>
            </div>

        </div>

    </div>

    <div class="content">
            <h4>Projects</h4>


            <!--USER PROJECT CARDS-->
            <div class="flip-container">
                <!--ADD NEW PROJECT CARD-->
                <div ui-sref="canvas" class="card-add">
                    <div class="add-new">
                        <i class="material-icons icon-extra-large font-charcoal">add_circle_outline</i>
                        <h4 class="font-charcoal">New Project</h4>
                    </div>
                </div>
                <div class="card-wrap" ng-repeat="project in current | filter: searchKey">
                    <project-card></project-card>
                </div>
            </div>
            
        
    </div>
</div>