@import '_variables';
@import '_mixins';
.card{
    //Below mixin takes 'warm', 'cool', 'value'
    @include use-linear-gradients(warm);
    position: relative;
    width: 300px;
    height: 200px;
    margin: 30px 20px;
    border-radius: $border-radius-huge;
    .black-triangle{
        position: absolute;
        top: 0px;
        right: 0px;
        background: linear-gradient(225deg, rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 50%);
        height: 50px;
        width: 50px;
        opacity: 0;
        transition: all 0.2s linear;
    }
    .gear{
        opacity: 0;
        position: absolute;
        top: 8px;
        right: 9px;
        color: #FFF;
        font-size: 13px;
        transition: all 0.2s linear;
    }
    .card-footer{
        @include flex-between-vert-center;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 50px;
        background: white;
        padding: 0 13px;
    }

}

.card-add{
    background-color: white;
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    box-shadow: $card-shadow;
    margin: 30px 20px;
    border-radius: $border-radius-huge;

    .add-new{
        height: 100%;
        width: 100%;
        @include vert-align-center;
        flex-direction: column;
        justify-content: center;
    }
    h4{
        margin-top: 20px;
    }
}

.card-add:hover{
    cursor: pointer;
    background-color: $grey-100;
    position: relative;
    width: 300px;
    height: 200px;
    // margin: 40px 40px;
    border-radius: $border-radius-huge;
}

    @keyframes AnimationName { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
.card:hover{
    @include use-linear-gradients(value);
    background-size: 200% 200%;
    cursor: pointer;
    transition: all 0.5s linear;
    animation: AnimationName 1.5s ease infinite;
    
    .black-triangle{
        opacity: 0.5;
        transition: all 0.2s linear;
    }
    .gear{
        opacity: 1;
        transition: all 0.2s linear;
    }
}







.flip-container {
    perspective: 1000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  
}
.flip-container .card.flipped{
    transform: rotateX(180deg);
}

.flip-container .card {
    transform-style: preserve-3d;
	transition: 0.3s;
}

.flip-container .face {
    backface-visibility: hidden;
    position: absolute;
    z-index: 2;
    box-shadow: $card-shadow;
}
 
.flip-container .front {  
    z-index: 1;    
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: $border-radius-huge;
}

.flip-container .card .back {
    transform: rotateX(-180deg); 
    background: rgba(255,255,255,1);
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: $border-radius-huge;
}