
.icon-small{
    font-size: 24px !important;
}

.icon-large{
    font-size: 36px !important;
}
.icon-extra-large{
    font-size: 80px !important;
}


.star{
    cursor: pointer;
    color: $yellow-A700;
    font-size: 30px !important;
    user-select: none;
}