input{
    border-radius: 50px;
    height: 26px;
    border: none;
    padding: 15px 12px;
    outline: none;
}


input[type="color"] {
	-webkit-appearance: none;
    border-radius: 50px;
    // background: transparent;
	border: none;
    margin-top: 3px;
    margin-right: 6px;
	width: 25px;
	height: 25px !important;
    padding: 15px 15px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}