.icon-small{
    font-size: 24px !important;
}

.icon-large{
    font-size: 36px !important;
}
.icon-extra-large{
    font-size: 80px !important;
}

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
// }