<div class="nav-wrapper">
    <nav>
        <!--<div class="bottom-border">-->
            <!--<div class="bar"></div>-->
        <!--</div>-->
        <div class="shine2"></div>
    </nav>
    <div class="nav-onTop">
        <div class="nav-item">
            <!--<img src="./images/WireframeLogo-02.svg" style="height: 38px; margin-left: 20px">-->
            <img src="./images/WireframeLogo-03.svg" style="height: 30px; margin-left: 30px">
            <input type="text" placeholder="Search projects" style="margin-left: 80px">
        </div>

        <div class="nav-item" ng-hide="editorEnabled">
            <h4>{{projectName}}</h4>
            <a style="color: white" ng-click="editorEnabled =! editorEnabled">Edit</a>
        </div>
        <div ng-show="editorEnabled">
            <input ng-model="projectName">
            <a style="color: white" ng-click="editorEnabled =! editorEnabled">Save</a>
        </div>


        <div class="nav-item">
            <!--SAVE PROJECT-->
            <div class="button blue" ng-if="'canvas' | isState"><div class="shine"></div>Save</div>
            <!--Log-IN-->
            <a class="button green" href="/auth" ng-if="!isLoggedIn"><div class="shine"></div>Log In</a>
            <!--SIGN UP-->
            <a class="button green" href="/auth" ng-if="!isLoggedIn"><div class="shine "></div>Sign Up</a>
            <!--LOGOUT-->
            <a class="button red" href="/auth/logout" ng-if="isLoggedIn"><div class="shine"></div>Log Out</a>
            <img class="prof-pic" ng-src="{{currentUser.picture}}">
        </div>

    </div>
    
</div>