

<div class="card" ng-class="{'flipped':isFlipped}">
    <div class="face front" >
        <div class="black-triangle"></div>
        <i class="material-icons gear" ng-click="isFlipped = !isFlipped">settings</i>

        <svg ui-sref="mycanvas({ id: project.wf_id })" viewBox="0 0 1500 1000" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">

            <!-- <image width="100%" height="100%" xlink:href='./images/grid.png' preserveAspectRatio='none'/> -->

        </svg>
        <div class="card-footer">
            <p ui-sref="mycanvas({id: project.wf_id})" ng-model="isFav.wf_id" ng-init="isFav.wf_id=project.wf_id">{{project.wf_name}}</p>
            <!--EMPTY STAR-->
            <div ng-model="isFav.fav_wf" ng-init="isFav.fav_wf=project.fav_wf" ng-click="updateFav(isFav, $index)" ng-hide="project.fav_wf">
                <i class="material-icons star">star_border</i>
            </div>
            <!--Filled STAR-->
            <div ng-model="isFav.fav_wf" ng-init="isFav.fav_wf=project.fav_wf" ng-click="updateFav(isFav, $index)" ng-show="project.fav_wf">
                <i class="material-icons star">star</i>
            </div>
        </div>
    </div>

    <div class="face back">
        <div class="flex-container" style="padding: 7px;">
            <div class="button red" ng-click="deleteProject(project.wf_id)">
                <div class="shine" ></div>Delete
            </div>
            <i class="material-icons icon-large back-arrow" ng-click="isFlipped = !isFlipped">reply</i>
        </div>
        <hr>
        <div class="black-is-back">
            <h5>Project Title:</h5>
        <hr>
            <p>{{project.wf_name}}</p>
      
            <span >Last Edit:</span>
        <hr>
            <span style="font-size: 13px">{{project.wf_date | date : format : short}}</span>
        </div>
        
    </div>
</div>
