.btn{
    border: none;
    position: relative;
    padding: 12px 30px;
    margin: 10px 1px;

    // font-size: $mdb-btn-font-size-base;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
}

